<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862934440261-hcuq1d035rdqpbt26nuv82hlvoutqfsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862934440261-hcuq1d035rdqpbt26nuv82hlvoutqfsk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862934440261-8k78i37j9ljtkccbsa0t9kcrk5e5i0i7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzHwPM5-L83D7ogWbDojZvo28UHjJnnrE</string>
	<key>GCM_SENDER_ID</key>
	<string>862934440261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.izzylabs.Hydro-Homie</string>
	<key>PROJECT_ID</key>
	<string>hydrohomie-94970</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrohomie-94970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862934440261:ios:fe381a824ad774823d862c</string>
</dict>
</plist>